<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>

<body>
	<div class="screen-container">
		<div class="other-header">
<!--HAMBURGER MENU--> 
	<img src="/svg/hamburger.svg" id="line-home" onclick="openNav()"/>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">✕</a>
			<a href="/index">Dashboard</a>
			<a href="/settings">Settings</a>
			<!-- REMOVE <a href="/notifications">Notifications</a> -->
			<a href="/account">Account</a>
			<a href="/help">Help</a>
	</div>  
	
			<div class="about-container">

			<h1>About The Task App </h1>

			</div> 
		</div> 
	<div class = "body-container"> 
		<p> Think less and be more organized with this app! Plan your monthly schedules, to do lists, and manage your task times with our sound feedback feature. </p>

	</div>
		

	</div>



<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
<script src="js/timers.js"></script>

</body>
</html>