<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>

<body>
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=766003327108039&autoLogAppEvents=1"></script>
	<div class="screen-container">
		<div class="other-header">
<!--HAMBURGER MENU--> 
	<img src="/svg/hamburger.svg" id="line-home" onclick="openNav()"/>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">✕</a>
			<a href="/index">Dashboard</a>
			<a href="/settings">Settings</a>
			<!-- REMOVE <a href="/notifications">Notifications</a> -->
			<a href="/account">Account</a>
			<a href="/about">About</a>
			<a href="/help">Help</a>
	</div>  

			<h1>Account</h1>
		</div> 
	<div class="accountName">
		<p>Name<p>
	</div>
	<div class="otherBox">
	</div>

	<img src = "svg/human.svg" id="human">

	<div class="facebookLogout">
		
	<span id="fbLogout" onclick="fbLogout()"><a class="fb_button fb_button_medium"><span class="fb_button_text">FB Logout</span></a></span>

	</div>
		<button onclick = "logout()" id = "logout-btn" >Logout</button>

	</div>
		

	</div>



<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
<script src="js/timers.js"></script>
{{>facebook}}
<script src="js/facebook.js"></script>
</body>
</html>