<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<div class="screen-container">
		<div class="other-header">

			
				<img onclick= "goHome()" src="svg/back-btn.svg" alt="BACK" id='btn-back'>
			

			<a href="/index">
				<img src="svg/back-btn.svg" alt="BACK" id='btn-back'>
			</a>

			<h1>Help</h1>
		</div>

		<div class="help-container">
			<ul class="mx-auto col-md-12" id="">
				<button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-14 btn-space-4" data-toggle="collapse" data-target="#delTask">How do I delete a task?</button>
				<div id="delTask" class="collapse" style="margin-top: 10px; margin-bottom: 25px;">
					Delete a Task by clicking on the "Trash" icon to the right of the task name.
	  			</div>

	  			<button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-14" data-toggle="collapse" data-target="#delTask2">How do I delete a task?</button>
				<div id="delTask2" class="collapse" style="margin-top: 10px; margin-bottom: 25px;">
					Delete a Task by clicking on the "Trash" icon to the right of the task name.
	  			</div>

	  			<button type="button" class="btn btn-primary btn-color btn-bg-color btn-lg col-xs-14" data-toggle="collapse" data-target="#delTask3">How do I delete a task?</button>
				<div id="delTask3" class="collapse" style="margin-top: 10px; margin-bottom: 25px;">
					Delete a Task by clicking on the "Trash" icon to the right of the task name.
	  			</div>
	  		</ul>
		</div>


	</div>



<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
<script src="js/timers.js"></script>

</body>
</html>