<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Final Project</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/main-theme.css" rel="stylesheet">
<<<<<<< HEAD
	<script src="js/introHCI.js"></script>
	<style>
	@import url('https://fonts.googleapis.com/css?family=Rubik');
</style>
=======
>>>>>>> 50ce323a7c719cd7aa4da95499c481703b193006
</head>
<body>
	<div class='background'>
		<div class="container-header"> 
			<img src="svg/back-btn.svg" alt="BACK" id='btn-back'>
			<h1> Dashboard </h1>
			<div class="row" id="row">  
				<button class="btn btn-default" id="Calendar"> Calendar </button>
				<button class="btn btn-default" id="Goals"> Goals </button>
				<button class="btn btn-default" id = "Favorites"> Favorites </button>
			</div>
			<ul class="list-group" id="Sessions">
				<h3>On Going Sessions<h3>
				<li class="list-group-item" id="Chem-6A"> Chem 6A Study </button>
				<li class="list-group-item" id="Workout"> Workout </button>
				<li class="list-group-item" id="Study"> Study </button>
				<li class="list-group-item" id="Chores"> Chores </button>
				<li class="list-group-item" id="Study2"> Study Math </button>
			</ul>
			<div class="new-session">
			<a onclick="newSession()" id="button-deets" role="button"> + New Session </a>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
</body>
</html>
