<html>
<head>
	<title>Final Project</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/main-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>
</head>
<body> 
	<div class="screen-container">
		<div class="container-header">
		
<!--HAMBURGER MENU--> 
<img src="/svg/line.svg" id= "line-home" onclick="openNav()">

	<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/settings">Settings</a>
  <a href="/notifications">Notifications</a>
  <a href="/account">Account</a>
  <img src="svg/about.svg" id="about">
  <a href="/about">About</a>
</div>  
<img src="/svg/line.svg" id= "line-home" onclick="openNav()">



		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="/settings">Settings</a>
			<a href="/notifications">Notifications</a>
			<a href="/account">Account</a>
			<a href="/about">About</a>
		</div>  
<!--HAMBURGER MENU END-->

		
		<h1>Dashboard</h1>

		</div>
		<div class="row" id="row">  
				<button onclick="openCalendar()" class="btn btn-default" id="Calendar"><img src="/svg/Calendar.svg"/>Calendar</button>
				<button onclick="openGoals()" class="btn btn-default" id="Goals"><img src="/svg/goal.svg"/>Goals</button>
				<button onclick="openFavorites()" class="btn btn-default" id="Favorites"><img src="/svg/Group.svg"/>Favorites</button>
			</div>
		
		<div class="onGoingSessions">
			<h1>ON GOING SESSION</h1>
			<div class="onGoingSessions-box">
				<div class="onGoingSessions-tabs">
						<ul class="list-group" id="Sessions">
							<!-- accesses sessions and access all the variables -->
							{{#each sessions}}
								<li class="sessions" id="{{id}}">{{name}}</li>
							{{/each}}
						</ul>
				</div>
			</div>
		</div>

		<div class="container-footer">
			<button onclick="openForm()" class="btn new-session" id="button-deets"> + New Session </button>
		</div>
		
		<!--new task pop up-->
		<div class="newTaskCard" id="newTask">
			<form method="get" role="form" action="/index/newSession/">
				<h2>Add a New Session</h2>
				<input id="sessionname" type="text" placeholder="Enter Session Name" name="sessionname" required>
				<input id="taskname" type="text" placeholder="Enter Task Name" name="taskname" required>

				<label for="time"><b>How long will it take?</b></label>
		    	<input class="without" step="1" type="time" id="tasktime" name="tasktime" min="00:00:01" required>

		    	<label for="date"><b>Finish By: </b></label>
		    	<input id="taskdate" type="date" placeholder="Pick Date" name="taskdate" required>

		    	<button type="button" class="btn-cancel" onclick="closeForm()">Close</button>

				<button type="submit" class="btn-save" onclick="addTask()">Save</button> 
			</form>
		</div>
<!--end new task pop up-->
	</div>


<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/newSession.js"></script>
<script src="/js/timers.js"></script>
<script src="/js/facebook.js"></script>

</body>
</html>
