<html>
<head>
	<title>Final Project</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/main-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>
</head>
<body> 
	<div class="screen-container" id="taskCardBackground">

<!-- BEGIN header -->
	<div class="container-header">
		
<!--HAMBURGER MENU--> 
	<img src="/svg/Line.svg" id= "line-home" onclick="openNav()">

		<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/settings">Settings</a>
	  <!-- REMOVE <a href="/notifications">Notifications</a> -->
	  <a href="/account">Account</a>
	  <a href="/about">About</a>
	</div>  
	

<!--HAMBURGER MENU END-->

		
		<h1>Dashboard</h1>
		</div>
		<div class="row" id="row">  
				<button onclick="openFavorites()" id="Favorites"><img src="/svg/star.svg"/></button>
			</div>
<!-- END header -->


<!-- BEGIN onGoing Sessions -->
		<div class="onGoingSessions">
			<div class="onGoingSessions-box">
				<h1>CURRENT SESSIONS</h1>

				<div class="onGoingSessions-tabs">
						<ul class="list-group" id="Sessions">
							<!-- accesses sessions and access all the variables -->
							{{#each sessions}}
								<li class="sessions" id="{{id}}">{{name}}</li>
							{{/each}}
						</ul>
				</div>
			</div>
		</div>
<!-- END onGoing Sessions -->


		<div class="container-footer">
			<button onclick="openNewSession()" class="btn new-session" id="button-deets"> + New Session </button>
		</div>
		
	</div> <!--- END OF SCREEN CONTAINER -->

<!--new task pop up-->
		<div class="newTaskCard" id="newSession">
			<form method="get" role="form" action="/index/newSession/">
				<h2>Create a New Session</h2>
				<input id="sessionname" type="text" placeholder="Enter Session Name" name="sessionname" required>
				<input id="taskname" type="text" placeholder="Enter Task Name" name="taskname" required>

				<label for="time"><b>How long will it take?</b></label>
		    	<input type="number" name="hour" min="0" max="12" required>
		    	<label for="hour"><p>hr</p></label>
		    	<input type="number" name="minute" min="5" max="59" required>
		    	<label for="min"><p>min</p></label> <br>

		    	<label for="date"><b>Finish By: </b></label>
		    	<input id="taskdate" type="date" placeholder="Pick Date" name="taskdate" required>

		    	<button type="button" class="btn-cancel" onclick="closeNewSession()">Close</button>

				<button type="submit" class="btn-save" onclick="addTask()">Save</button> 
			</form>
		</div>
<!--end new task pop up-->

<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/newSession.js"></script>
<script src="/js/timers.js"></script>
<script src="/js/facebook.js"></script>

</body>
</html>
