<html>
<head>
	<title>Final Project</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<div class="container"> 
		<h1> Dashboard </h1>
		<div class="row" id="row">  
			<button class="btn btn-default" id="Calendar"> Calendar </button>
			<button class="btn btn-default" id="Goals"> Goals </button>
			<button class="btn btn-default" id = "Favorites"> Favorites </button>
		</div>
		<ul class="list-group" id="Sessions">
			<h2>On Going Sessions<h2>
			<li class="list-group-item" id="Chem-6A"> Chem 6A Study </button>
			<li class="list-group-item" id="Workout"> Workout </button>
			<li class="list-group-item" id="Study"> Study </button>
		</ul>
		<div class="new-session">
		<button class="btn btn-default" id="button-deets"> + New Session </button>
	</div>
	</div>
	
</body>
</html>
