<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>

<body>
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=766003327108039&autoLogAppEvents=1"></script>
	<div class="screen-container" id="loginBackground">
		<div class="appTitle"> 
		<h1>Task App</h1> 
		<img src="/svg/hourglassColor.svg" id="loginLogo">
		</div>
		

		<div class ="login-container">		
			<div id="username-box">
    			<input type="text" id="fname" name="username" placeholder="username">
			</div>

			<div id="password-box">
    			<input type="text" id="fname" name="password" placeholder="password">
			</div>
			<p>Forgot Password?</p>

			<button onclick ="goHome()" class="btn-login" id="login-btn">Login</button>
			
			<div class="facebookLogin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</div>
			<h5> Sign Up </h5>
			
		</div>
	</div>



<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
{{> facebook}}
<script src="js/facebook.js"></script>
</body>
</html>