<!DOCTYPE html>
<html>
<head>
	<title>New Session</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>
<body>
	<div class="screen-container">
		<div class="container-header">
			
			<img onclick="goHome()" src="svg/back-btn.svg" alt="BACK" id='btn-back'></img>
			
			<a href="/index">
				<img src="svg/back-btn.svg" alt="BACK" id='btn-back'></img>
			</a>
			<h1> New Session </h1>
			<img src="svg/about.svg" alt='INFO' id='btn-info'></img>

			<div id="edit-name">
    			<input type="text" id="sName" name="sessionname" placeholder="EDIT NAME ...">
			</div>
		</div>

		<div class="container-add-task">
			<button onclick="openForm()" class="btn add-task" id="add-task-text">+ Add Task</button>
		</div>

		
		<ul class="list-group-session" id="Session">
			<li class="time" id="time">00:00:00</li>
			<li class="duedate" id="duedate">Due by: </li>
			<li>
				<div>
					<button onclick="openForm()" class="btn add-task" id="add-task-text">+ Add Task</button>
				</div>
			</li>
		</ul>
		
		
<!--new task pop up-->
		<div class="newTaskCard" id="newTask">
			<form method="get" role="form" action="/addtask">
				<h2>New Task</h2>
				<label for="Enter Name"><b>Task Name</b></label>
				<input id="taskname" type="text" placeholder="Enter Name" name="taskname" required>

				<label for="time"><b>How long will it take?</b></label>
		    	<input id="tasktime" placeholder="--:--:--" name="tasktime" required>

		    	<label for="date"><b>Finish By: </b></label>
		    	<input id="taskdate" type="date" placeholder="Pick Date" name="taskdate" required>

		    	<button type="button" class="btn-cancel" onclick="closeForm()">Close</button>

				<button type="submit" class="btn-save" onclick="addTask()">Save</button> 
			</form>
		</div>
<!--end new task pop up-->

		<button onclick="addSession()" class="btn btn-check" id="finishSession"> <img src="svg/check.svg"> <a id="task-item-text" role="button"> </a> </button>

<!--
		<div class="container-options" onclick="openOptions()"> 
			<img src="svg/back-btn.svg" alt="BACK" id='option-arrow-up'></img>
			<a id="session-option-txt">Session Options</a>
		</div>
-->

		<div class="container-options">
				<div class="clickTarget" onclick="openOptions()">				
					<img src="svg/back-btn.svg" alt="BACK" id="option-arrow-up"></img>
					<a id="session-option-txt">Session Options</a>
				</div>
		</div>

		<div class="container-options-open" id="optionsOpen">
			<div class="clickTarget" onclick="closeOptions()">				
				<img src="svg/back-btn.svg" alt="BACK" id="option-arrow-down"></img>
				<a id="session-option-txt">Session Options</a>
			</div>

			<div class="container-options-open-lower">
				<p>Push Notifications</p>
					<div class="toggleContainer_01">
						<input type="checkbox" id="switch" /><label for="switch">Toggle01</label>
					</div>
				<br></br>
				<p>Voice Commands</p>
					<div class="toggleContainer_02">
						<input type="checkbox" id="switch02" /><label for="switch02">Toggle02</label>
					</div>
			</div>
		</div>

	</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
<script src="js/timers.js"></script>
</body>
</html>
