<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>
<body>
	<div class='main'>
		<div class="container-header">
			<a href="../">
				<img src="svg/back-btn.svg" alt="BACK" id='btn-back'>
			</a>
			<h1> New Session </h1>
			<img src="svg/about.svg" alt='INFO' id='btn-info'>
			<h2>Edit Name...</h2>
		
	</div>

<!--new task pop up-->
<div id="task-item-box">
<a id="task-item-text" role="button" onclick="openForm()"> + New Task </a>
</div>
<div class="new-task-popup" id="newTask">
	<form action="views/newTask.handlebars" class="newTaskContainer">
		<h2> New Task </h2>
		<label for="Enter Name"><b>Task Name</b></label>
		<input type="text" placeholder="Enter Name" name="email" required>

		<label for="time"><b>How long will it take?</b></label>
    	<input type="time" placeholder="Enter Time" name="time" required>

    	<label for="date"><b> Finish By:</b></label>
    	<input type="date" placeholder="Pick Date" name="date" required>
<button type="button" class="btn cancel" onclick="closeForm()">Close</button>


	</form>
</div>

<!--end new task pop up-->
		<div class='btn-check'>
			<img src="svg/check.svg" alt="DONE" id='btn-check'>
			<a href="/done" id="task-item-text" role="button"> </a>
		</div>

		<div class='container-options'>
			<img src="svg/back-btn.svg" alt="BACK" id='btn-option-arrow'>
			<a id='session-option-txt'> Session Options </a>
		</div>

	</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
<script src="js/timer.js"></script>
</body>
</html>
