<!DOCTYPE html>
<html>
<head>
	<title>New Task</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-theme.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<style> @import url('https://fonts.googleapis.com/css?family=Rubik');</style>

</head>

<body onload="loadSetOptions()">
	<div class="screen-container">
		<div class="other-header">

<!--HAMBURGER MENU--> 
	<img src="/svg/hamburger.svg" id="line-home" onclick="openNav()"/>

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">✕</a>
			<a href="/index">Dashboard</a>
			<a href="/account">Account</a>
			<a href="/about">About</a>
			<a href="/help">Help</a>
	</div>  

			<h1>Settings</h1>
		</div>
	</div>

		<div class="toggleList">
			<h1>Notifications</h1>

			<p>Enable Push Notifications <br/>
				Enable Voice Globaly</p>

			<div class="container-options-open-lower" id="settingsToggle">
				<input type="checkbox" id="setNoti" onclick="setNoti()"/>
				<label for="setNoti">Toggle03</label>

				<input type="checkbox" id="setVoice" onclick="setVoice()"/>
				<label for="setVoice">Toggle04</label>
			</div>

			<h1>Notifications</h1>


		</div>



<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/newSession.js"></script>
<script src="js/timers.js"></script>
<script src="js/settings.js"></script>

</body>
</html>