/*CALENDAR ATTEMPT*/



/*CALENDAR END*/

/* ACCOUNT */
.otherBox{
	position: absolute;
	width: 263px;
	height: 33px;
	left: 75px;
	top: 400px;

	background: #C4C4C4;
	border-radius: 3px;
}
.accountName{
	width: 263px;
	height: 33px;
	left: 75px;
	top: 329px;
	background: #C4C4C4;
	border-radius: 3px;
}
#human{
	position: absolute;
width: 88px;
height: 102px;
left: 163px;
top: 152px;
}
#logout-btn {
	position: absolute;

	width: 177px;
	height: 52px;
	left: 118px;
	top: 530px;
	background: #6D6D6D; 
	

	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #FFFFFF;
}

.facebookLogout{
	padding-top: 200px;
	margin-right: 20px;
}

/*ACCOUNT END*/
/*ABOUT CSS*/
.about-container{
	position: absolute;
	width: 244px;
	height: 66px;
	left: 85px;
	top: 5px;
	background: #9C9C9C;
	border-radius: 20px;
} 

.other-container .about-container h1{
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.02em; 


	color: #000000; 

	width: 244px;
	height: 60px;
	left: 85px;
	top: 9px;

} 

.body-container{
	position: absolute;
	width: 360px;
	height: 612px;
	left: 27px;
	top: 104px;

	background: #9C9C9C;
	border-radius: 20px;
} 

.body-container p{
	position: absolute;
	width: 331px;
	height: 383px;
	left: 20px;
	top: 122px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.02em;
}



/*ABOUT END*/

.facebookLogin{
	padding-top: 200px;
	margin-right: 20px;
}
/*favorite css*/
#about{
	position: absolute;
	left: 13.57%;
	right: 78.28%;
	top: 35.19%;
	bottom: 62.36%;
	color: #818181;

	opacity: 0.8;

}
#btn-star{
	position: absolute;
	width: 700px;
	height: 65px;
	left: 0px;
	top: 0px;
}
.bottom-screen{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22px;
	letter-spacing: 0.03em;
	
	position: absolute;
	left: 6.76%;
	right: 21.5%;
	top: 14.67%;
	bottom: 81.66%;
	color: #000000;
}
/* end favorite css*/




/*Checkmarkcss*/

.goals-checklist p{
	margin-bottom: 12px;
}
.goal.checklist{
	display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.goal-checklist input{
	position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  top:100px;
  background-color: #C4C4C4;
} 
/*mouseover color*/
.goal.checklist:hover input ~ .checkmark {
  background-color: #ccc;
} 
/*box background*/
.goal.checklist input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
} 
.goal-checklist input:checked ~ .checkmark:after {
  display: block;
}
.goal-checklist .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*login css*/
.btn-login{
	position: absolute;
	width: 177px;
	height: 43px;
	top:75px;
	right: 85px; 

	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #FFFFFF;

	

	background: #6D6D6D;
}
.login-container h5{
	position: absolute;
	width: 76px;
	height: 27px;
	left: 130px;
	top: 375px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.05em;
	text-decoration-line: underline;

	color: #000000;

}
.login-container p{
	position: absolute;
	width: 138px;
	height: 27px;
	left: 200px;
	top: 260px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	letter-spacing: 0.05em;
	text-decoration-line: underline;

	color: #000000;

}
.login-container{
	position: absolute;
	width: 348px;
	height: 454px;
	left: 34px;
	top: 96px;

	background: #9C9C9C;
	border-radius: 25px;

}
h4{
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.02em;

	color: #000000;

} 
#password-box{
	position: absolute;
	width: 320px;
	height: 54px;
	left: 15px;
	top: 180px;

background: #C4C4C4;
border-radius: 3px;
}
#username-box{
	position: absolute;
	width: 320px;
	height: 54px;
	left: 15px;


	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
	background: #C4C4C4;
	border-radius: 3px;
}



/*SESSION TASK LIST*/
#star-session{
	left: 89.11%;
    right: 5.03%;
    top: 85.19%;
    bottom: -62.96%;
    transform: rotate(-180deg);
}
li.session{
	list-style-image: url(/svg/Line.svg);
}

ul.list-group-session{
	position: absolute;
	display: block;
 	margin-right: inherit;
 	margin-left: inherit;
	width: 358px;

	top: 140px;
	list-style-type: none; 

	padding: 10px 20px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: inherit;
	font-size: 22px;
	letter-spacing: 0.03em;

	color: #000000;

	height:480px; width:85%;
	overflow:hidden; overflow-y:scroll;

}
.list-group-session .session{
	padding: 8px;
}

.list-group-session p{
	font-size: 10pt;
	margin-bottom: 0px;
	opacity: 0.8;
}

#headerTime {
	width: 300px;
	height: 80px;
	top: 55px;
	margin-left: 47px;
}

#time {
	font-size: 20pt;
	opacity: 0.8;

}

#duedate {
	left: 90px;
	font-size: 12pt;
	opacity: 0.6;
}


.sessionTask-box {
	position: absolute;
	width: 414px;
	height: 511px;
	left: 0px;
	top: 70px;

	background: #DFDFDF;
}
/*HAMBURGER MENU*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#line-home{
position: absolute;
width: 25.05px;
height: 16.85px;
left: 21px;
top: 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*HAMBURGER MENU END*/


/*START NEW TASK CARD CSS*/

/* Add a red background color to the cancel button */
.newTaskCard .btn-cancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 100px;
  /*border: none;*/
  cursor: pointer;
  margin-bottom: 14px;
  opacity: 0.8;
}
/* When the inputs get focus, do something */
.newTaskCard input[type=text]:focus, .newTaskCard input[type=time]:focus, .newTaskCard input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.newTaskCard .btn-save {
  background-color: #6FCF97;
  color: white;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 100px;
  /*border: none;*/
  cursor: pointer;
  margin-bottom: 14px;
  opacity: 0.8;
}

/* Full-width input fields */
.newTaskCard input[type=text], .newTaskCard input[type=time], .newTaskCard input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #C4C4C4; 
  box-sizing: border-box;
  text-align: center;

  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: transparent !important;
}

.newTaskCard h2 {
	font-size: 18pt;
	margin-bottom: 15px;
}

.newTaskCard label {
	font-size: 12pt;
}

input[type=text] {
	width: 75%;
	margin: 8px 0;
	box-sizing: border-box;
	padding-left: 0%;
	background-color: #C4C4C4; 

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 28px;
	letter-spacing: 0.05em;

	color: #000000;

	background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
}
/*
.without::-webkit-datetime-edit-ampm-field {
   display: none;
 }
*/

/* Add styles to the form container */

.newTaskCard {
	display: none;
	position: absolute;
	width: 100%; /* 386px */
	height: 435px;
	bottom: 0px;
	left: 0px;
	/*border: 3px solid #f1f1f1;*/

	background: #9C9C9C;
	box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.25);
	border-radius: 18px 18px 0 0;
	z-index: 9;

	text-align: center;

    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}


.newTaskCard newTaskCard.clicked {
	margin-top: 100px;
}

#newSession {
	height: 530px;
}

/*END NEW TASK CARD CSS*/


/* ------------[Container Start]------------ */

.screen-container {
	position: absolute;
	width: 100%;
	height: 100%; /* 736px */
	left: 0px;
	top: 0px;

	background: rgba(196, 196, 196, 0.4);

	align-items: center;
	display: flex;
	justify-content: center;
	filter: none;

	-webkit-transition : -webkit-filter 200ms linear;
}

.container-header {
 	/* Header */
	position: absolute;
	width: 100%;
	height: 124px;
	left: 0px;
	top: 0px;
	background-color: #C4C4C4;
 }

.container-header h1 {
	position: absolute;
	width: 151px;
	height: 25px;
	left: 66px;
	top: 8px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #000000;
 }

.container-header h2 {
	/* Edit Name... */

	position: absolute;
	width: 173px;
	height: 34px;
	left: 66px;
	top: 60px;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 28px;
	letter-spacing: 0.02em;

	color: #000000;

	opacity: 0.4;
}

#edit-name {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 65px;
	top: 65px;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 28px;
	letter-spacing: 0.02em;
}

#session-name {
	position: absolute;
	width: 80%;
	height: 90%;
	margin-left: 65px;
	margin-top: 14px;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 28px;
	letter-spacing: 0.02em;
}

.container-footer {
	position: absolute;
	width: 100%;
	height: 73px; /* 73px */
	bottom: 0px;
	display: flex;
	justify-content: center;
}

.onGoingSessions {
	position: absolute;
	width: 100%;
	height: 540px;
	left: 0px;
	top: 64px;
}

.onGoingSessions h1 {
	/* ON GOING SESSIONS */
	position: absolute;
	width: 100%;
	top: 0px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 22px;
	letter-spacing: 0.05em;
	text-align: center;

	color: #000000;
}

.onGoingSessions-tabs {
	position: absolute;
	width: 100%;
	top: 55px;
	bottom: 0;
}

.onGoingSessions-box {
	position: absolute;
	width: 100%;
	height: 612px;
	left: 0px;
	top: 60px;

	background: #DFDFDF;
}

/* ------------[Container End]------------ */



/* ------------[Specific Box Styling Start]------------ */

#Favorites {
 	/* Favorites */

	position: absolute;
	width: 50px;
	height: 50px;
	right: 15px;
	top: 12px;

	color: #C4C4C4;
	opacity: 0.9;
	border-radius: 7px;
	box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
 } 


 #Calendar {
 	position: absolute;
	width: 100px;
	height: 72px;
	left: 36px;
	top: 75px;
	
	background: #6D6D6D;
	border-radius: 14px;
	box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.08em;
	color: #FFFFFF;
 }

 #Goals {
 	position: absolute;
	width: 100px;
	height: 72px;
	left: 157px;
	top: 75px;

	background: #6D6D6D;
	border-radius: 14px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.08em;

	color: #FFFFFF;

	box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);
 }

 #Chem-6A {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 0px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	border-radius: 5px;
}


 .new-session {
 	/* + Button */
	position: fixed;
	display: flex;
	width: 177px;
	height: 43px;
	bottom: 35px;
	/*left: 120px;*/
	text-align: center;

	background: #6D6D6D;
	border-radius: 100px;

	justify-content: center;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
 }

 #button-deets{ 
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;
	color: white;
 }

 /*------chemSession----*/
 .Assignment-1{
 	position: absolute;
left: 5.59%;
right: 49.72%;
top: 0%;
bottom: 0%;

font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 22px;
letter-spacing: 0.03em;

color: #000000;

} 
#Line{
	position: absolute;
left: 0%;
right: 97.77%;
top: 40.74%;
bottom: 40.74%;

opacity: 0.5;
border: 1px solid #000000;
}
#star{
	position: absolute;
left: 89.11%;
right: 5.03%;
top: 85.19%;
bottom: -62.96%;

transform: rotate(-180deg);
}
#edit{
	position: absolute;
left: 94.13%;
right: 0%;
top: 7.41%;
bottom: 15.21%;
}


 #session-btn-deets {
 	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.05em;
	color: #000000;

	display: inline-block;
	margin-top: 1.5px;
 }

#btn-menu {
	position: absolute;
	width: 25.05px;
	height: 16.85px;
	left: 21px;
	top: 30px;
}

#btn-back {
	/* Chevron Right */

	position: absolute;
	width: 11px;
	height: 19px;
	left: 28px;
	top: 29px;

	mix-blend-mode: normal;
	opacity: 0.54;
}

#btn-info {
	position: absolute;
	width: 13px;
	height: 13px;
	left: 192px;
	top: 33px;

	opacity: 0.7;
}

.container-add-task {
	width: 100%;
	height: 100%;
	margin-top: 300px;
}

/* "+ Add Task" Button style */
.add-task{
	position: absolute;
	width: 108px;
	height: 30px;
	left: 27px;
	margin-top: 14px;

	background: #C4C4C4;
	border-radius: 100px;
}

/* "+ Add Task" Button Text style */
#add-task-text {
	position: center;
	display: inline-block;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.05em;

	color: #000000;

	opacity: 0.6;
}


.btn-check {
 	/* Finish/Check Button */

	position: absolute;
	width: 48px;
	height: 48px;
	/*left: 337px;
	top: 613px;*/
	right: 29px;
	bottom: 75px;

	background: #C4C4C4;
	border-radius: 100px;

	/* Button Drop */
	box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.237602), 0px 0px 14px rgba(0, 0, 0, 0.12);
 	-webkit-transition: 1s;
 }


#btn-check {
	/* Check Vector */

	position: center;
	left: 337px;
	top: 613px;

	display: block;
	margin: 0 auto;
	margin-top: 13px;
}

.btn-start {
 	/* Finish/Check Button */

	position: absolute;
	width: 80px;
	height: 45px;
	/*left: 337px;
	top: 613px;*/
	right: 29px;
	bottom: 75px;

	background: #6FCF97;
	border-radius: 100px;

	/* Button Drop */
	box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.237602), 0px 0px 14px rgba(0, 0, 0, 0.12);
 	-webkit-transition: 1s;



 }

.container-options {
	 /* Rectangle */
	position: fixed;
	width: 100%;
	height: 51px;
	bottom: 0;
	background-color: #AEAEAE;
	/*
	overflow: hidden;
	-webkit-transition: 1s;
	*/
}

.container-options-open {
	/* Rectangle */
	display: none;
	position: fixed;
	width: 100%;
	height: 200px;
	bottom: 0;
	background-color: #AEAEAE;
}

.container-options-open .clickTarget {
	position: center;
	width: 175px;
	height: 24px;
	top: 11px;

 	display: block;
 	margin-right: auto;
 	margin-left: auto;
 	justify-content: center;

}


.container-options-open .container-options-open-lower {
	position: absolute;
	width: 100%;
	height: 155px;
	top: 51px;

	background: #C4C4C4;
}

.container-options-open-lower p {
	position: absolute;
	width: 70%;
	left: 28px;
	margin-top: 35px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;
	line-height: 15px;

	color: #000000;
}

.container-options-open-lower .select-sound {
	position: relative;
	height: 25px;
	width: 155px;
	left: 45px;
	margin-top: 63px;

	font-size: 12pt;
	font-family: Rubik;
	font-style: normal;
	font-weight: 100;
	line-height: normal;

	background-color: lightgrey;
	border-radius: 3px;
}

/* Style the arrow inside the select element: */
.select-sound:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 8px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: darkgrey transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-sound.select-arrow-active:after {
  border-color: transparent transparent darkgrey transparent;
  top: 5px;
}

#option-arrow-up {
	/* chevron up */

	position: absolute;
	width: 24px;
	height: 24.22px;
	left: 118px;
	top: 13px;

	transform: rotate(90deg);
	mix-blend-mode: normal;
	opacity: 0.54;
}

#option-arrow-down {
	/* chevron up */

	position: absolute;
	width: 24px;
	height: 24.22px;
	left: 118px;
	top: 13px;

	transform: rotate(-90deg);
	mix-blend-mode: normal;
	opacity: 0.54;
}

#session-option-txt {
	 /* Session Options */

	position: absolute;
	width: 140px;
	height: 22px;
	left: 155px;
	top: 15px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.02em;

	color: #000000;
}

/* ----- TOGGLE SWITCH ----- */
.toggleContainer_01 {
	position: absolute;
	margin-top: 7px;
	right: 25px;
}

.toggleContainer_02 {
	position: absolute;
	margin-top: 10px;
	right: 25px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.container-options-open-lower label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 21px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.container-options-open-lower label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.container-options-open-lower input:checked + label {
	background: #bada55;
}

.container-options-open-lower input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.container-options-open-lower label:active:after {
	width: 25px;
}

.container-options-open-lower body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* -- Settings Toggles -- */

#settingsToggle {
	position: absolute;
	right: 24px;
	margin-top: 36px;
}


/* ----- END TOGGLE SWITCH ----- */

@import "compass/css3";

* {box-sizing: border-box;}

body {
	padding: 20px;
	justify-content: center;
}

html {
	justify-content: center;
}

#Sessions {
  position: absolute;
  top: 10px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0px;
  padding: 0px;
  
  border: 1px solid #ccc;
  
  font-size: 20px;
  font-family: Rubik;
  
  -webkit-overflow-scrolling: touch;
}

.list-group li{
  padding: 15px 20px;
  
  border-bottom: 1px solid #ccc;
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(even) {
    background: #f8f8f8;
  }
}


/* Cal, Goals, Fav */

.other-header {
	position: absolute;
	width: 100%;
	height: 76px;
	top: 0px;

	background: #C4C4C4;
}

.other-header h1 {
	position: absolute;
	width: 151px;
	height: 25px;
	left: 66px;
	top: 8px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.05em;

	color: #000000;
 }

 .calendar {
 	position: absolute;
 	display: block;
 	margin-right: auto;
 	margin-left: auto;
	width: 358px;
	height: 270px;
	top: 97px;

	background: #C4C4C4;
	box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
 }

 .calList {
 	position: absolute;
	width: 100%;
	height: 348px;
	left: 0px;
	top: 388px;

	background: #C4C4C4;
	opacity: 0.3;
 }


/* SETTINGS */

.toggleList {
	width: 100%;
	height: 400px;
	margin-top: 80px;
}

.toggleList h1 {
	display: block;
	position: absolute;
	width: 70%;
	left: 28px;

	margin-top: 0.5em;

	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.08em;
	line-height: 15px;

	color: #000000;
}

.toggleList p {
	display: block;
	position: absolute;
	width: 70%;
	left: 28px;

	margin-top: 2.8em;

	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.08em;
	line-height: 2.2em;

	color: #000000;
}


