/* The popup form - hidden by default */
.new-task-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
} 
/* Add styles to the form container */
.newTaskContainer {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
#task-item-box{
	position: absolute;
width: 108px;
height: 30px;
left: 39px;
top: 337px;

background: #C4C4C4;
border-radius: 100px;
}

/*
#Workout {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 100px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25); 
	background: #C4C4C4;
	border-radius: 5px;
}

#Study {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 175px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #C4C4C4;
	border-radius: 5px;
}
#Chores {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 250px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #C4C4C4;
	border-radius: 5px;
	font-family: 'Rubik', sans-serif;
}
#Study2 {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 325px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #C4C4C4;
	border-radius: 5px;
}
*/



/* ------------[Container Start]------------ */

.screen-container {
	position: absolute;
	width: 414px;
	height: 736px;
	left: 0px;
	top: 0px;

	background: rgba(196, 196, 196, 0.4)
}

.container-header {
 	/* Header */
	position: absolute;
	width: 414px;
	height: 124px;
	left: 0px;
	top: 0px;
	background-color: #C4C4C4;
 }

.container-header h1 {
	position: absolute;
	width: 151px;
	height: 25px;
	left: 66px;
	top: 8px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #000000;
 }

.container-header h2 {
	/* Edit Name... */

	position: absolute;
	width: 173px;
	height: 34px;
	left: 66px;
	top: 60px;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 28px;
	letter-spacing: 0.02em;

	color: #000000;

	opacity: 0.4;
}

.container-footer {
	position: absolute;
	width: 414px;
	height: 51px;
	left: 0px;
	top: 685px;

	background-color: #AEAEAE;
}

.onGoingSessions {
	position: absolute;
	width: 414px;
	height: 540px;
	left: 0px;
	top: 155px;
}

.onGoingSessions h1 {
	/* ON GOING SESSIONS */

	position: absolute;
	width: 198px;
	height: 22px;
	left: 28px;
	top: 0px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #000000;
}

.onGoingSessions-tabs {
	position: absolute;
	width: 414px;
	height: 500px;
	left: 0px;
	top: 18px;
}

.onGoingSessions-box {
	position: absolute;
	width: 414px;
	height: 482px;
	left: 0px;
	top: 70px;

	background: #DFDFDF;
}

/* ------------[Container End]------------ */



/* ------------[Specific Box Styling Start]------------ */

#Favorites {
 	/* Favorites */

	position: absolute;
	width: 100px;
	height: 72px;
	left: 278px;
	top: 75px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.08em;
	color: #FFFFFF;

	background: #6D6D6D;
	border-radius: 14px;
	box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);

 } 

 #Calendar {
 	position: absolute;
	width: 100px;
	height: 72px;
	left: 36px;
	top: 75px;
	
	background: #6D6D6D;
	border-radius: 14px;
	box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.08em;
	color: #FFFFFF;
 }

 #Goals {
 	position: absolute;
	width: 100px;
	height: 72px;
	left: 157px;
	top: 75px;

	background: #6D6D6D;
	border-radius: 14px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.08em;

	color: #FFFFFF;

	box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);
 }

 #Chem-6A {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 0px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	border-radius: 5px;
}

 .add-new {
 	/* + Button */

	position: absolute;
	width: 177px;
	height: 43px;
	left: 118px;
	top: 0px; 
	text-align: center;

	background: #6D6D6D;
	border-radius: 100px;
 }

 #button-deets{ 
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	display: inline-block;
	margin-top: 11px;

	color: white;
 }
 /*------chemSession----*/
 .Assignment-1{
 	position: absolute;
left: 5.59%;
right: 49.72%;
top: 0%;
bottom: 0%;

font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 22px;
letter-spacing: 0.03em;

color: #000000;

} 
#Line{
	position: absolute;
left: 0%;
right: 97.77%;
top: 40.74%;
bottom: 40.74%;

opacity: 0.5;
border: 1px solid #000000;
}
#star{
	position: absolute;
left: 89.11%;
right: 5.03%;
top: 85.19%;
bottom: -62.96%;

transform: rotate(-180deg);
}
#edit{
	position: absolute;
left: 94.13%;
right: 0%;
top: 7.41%;
bottom: 15.21%;
}


 #session-btn-deets {
 	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.05em;
	color: #000000;

	display: inline-block;
	margin-top: 1.5px;
 }

#btn-menu {
	position: absolute;
	width: 25.05px;
	height: 16.85px;
	left: 21px;
	top: 30px;
}

#btn-back {
	/* Chevron Right */

	position: absolute;
	width: 11px;
	height: 19px;
	left: 28px;
	top: 29px;

	mix-blend-mode: normal;
	opacity: 0.54;
}

#btn-info {
	position: absolute;
	width: 13px;
	height: 13px;
	left: 192px;
	top: 33px;

	opacity: 0.7;
}

.btn-task-item {
	/* Rectangle 2 */

	position: absolute;
	width: 108px;
	height: 30px;
	left: 32px;
	top: 150px;
	text-align: center;

	background: #C4C4C4;
	border-radius: 100px;
}

#task-item-text {
	/* + Task Item */

	position: center;
	display: inline-block;
	margin-top: 6px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	letter-spacing: 0.05em;

	color: #000000;

	opacity: 0.6;
}

.btn-check {
 	/* Finish/Check Button */

	position: absolute;
	width: 48px;
	height: 48px;
	left: 337px;
	top: 613px;

	background: #C4C4C4;
	border-radius: 100px;

	/* Button Drop */
	box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.237602), 0px 0px 14px rgba(0, 0, 0, 0.12);
 }

#btn-check {
	/* Check Vector */

	position: center;
	left: 337px;
	top: 613px;

	display: block;
	margin: 0 auto;
	margin-top: 13px;
}

.container-options {
	 /* Rectangle */

	position: absolute;
	width: 414px;
	height: 145px;
	left: 0px;
	top: 682px;

	background: #AEAEAE;
 }

#btn-option-arrow {
	/* chevron up */

	position: absolute;
	width: 24px;
	height: 24.22px;
	left: 118px;
	top: 13px;

	transform: rotate(90deg);
	mix-blend-mode: normal;
	opacity: 0.54;
}

#session-option-txt {
	 /* Session Options */

	position: absolute;
	width: 140px;
	height: 22px;
	left: 155px;
	top: 15px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.02em;

	color: #000000;
 }

 @import "compass/css3";

* {box-sizing: border-box;}

body {
  padding: 20px;
}

#Sessions {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  
  border: 2px solid #ccc;
  
  font-size: 16px;
  font-family: Arial, sans-serif;
  
  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(even) {
    background: #f8f8f8;
  }
}