 button,

 .container {
 	/* Dashboard1 */
	position: relative;
	width: 414px;
	height: 736px;

	background: #FFFFFF;
	backdrop-filter: blur(4px);/* Note: backdrop-filter has minimal browser support */
 } 
 .container h1 {
 	/* Dashboard Title Text*/

	position: absolute;
	width: 151px;
	height: 25px;
	left: 65px;
	top: 45px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #000000;
 } 

 .container h2 {
 	position: absolute;
	width: 198px;
	height: 22px;
	left: 31px;
	top: 185px;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #000000;
 }
.container-header h3 {
	/* ON GOING SESSIONS */

	position: absolute;
	width: 198px;
	height: 22px;
	left: 31px;
	top: 196px;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #000000;
}
#Chem-6A {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 28px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #C4C4C4;
border-radius: 5px;
} 

#Workout {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 100px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25); 
	background: #C4C4C4;
border-radius: 5px;
}

#Study {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 175px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #C4C4C4;
border-radius: 5px;
}
#Chores {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 250px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #C4C4C4;
border-radius: 5px;
font-family: 'Rubik', sans-serif;
}
#Study2 {
	position: absolute;
	width: 358px;
	height: 55px;
	left: 28px;
	top: 325px;

	box-shadow: 0px 2px 4px 
	rgba(0, 0, 0, 0.25);
	background: #C4C4C4;
border-radius: 5px;
}
 #Favorites {
 	/* Favorites */

			position: absolute;
			width: 100px;
			height: 72px;
			left: 278px;
			top: 95px;
			font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: center;
letter-spacing: 0.08em;
color: #FFFFFF;
background: #6D6D6D;

 } 

 #Calendar {
 	position: absolute;
	width: 100px;
	height: 72px;
	left: 36px;
	top: 95px;
	
	background: #6D6D6D;
	border-radius: 14px;
	box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);

	font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: center;
letter-spacing: 0.08em;
color: #FFFFFF;
 }
 #Goals {
 	position: absolute;
	width: 100px;
	height: 72px;
	left: 157px;
	top: 95px;
	background: #6D6D6D;
border-radius: 14px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: center;
letter-spacing: 0.08em;

color: #FFFFFF;

	box-shadow: 3px 4px 19px rgba(0, 0, 0, 0.25);
 }

 .new-session {
 	/* + Button */

	position: absolute;
	width: 177px;
	height: 43px;
	left: 118px;
	top: 662px; 
	text-align: center;

	background: #6D6D6D;
	border-radius: 100px;
 }

 #button-deets{ 
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	display: inline-block;
	margin-top: 11px;

	color: white;
 }

 /* ----------------** JOHNNYS EDITS **----------------- */

.background {
	position: absolute;
	width: 414px;
	height: 736px;
	left: 0px;
	top: 0px;

	background: rgba(196, 196, 196, 0.4)
}

.container-header {
 	/* Header */
	position: absolute;
	width: 414px;
	height: 124px;
	left: 0px;
	top: 0px;
	background-color: #C4C4C4;
 }

.container-header h1 {
	position: absolute;
	width: 151px;
	height: 25px;
	left: 66px;
	top: 12px;

	font-family: Rubik;
	font-style: normal;
	font-weight: 450;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;

	color: #000000;
 }

.container-header h2 {
	/* Edit Name... */

	position: absolute;
	width: 173px;
	height: 34px;
	left: 66px;
	top: 60px;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 28px;
	letter-spacing: 0.02em;

	color: #000000;

	opacity: 0.4;
}

#btn-back {
	/* Chevron Right */

	position: absolute;
	width: 11px;
	height: 19px;
	left: 28px;
	top: 33px;

	mix-blend-mode: normal;
	opacity: 0.54;
}

#btn-info {
	position: absolute;
	width: 13px;
	height: 13px;
	left: 192px;
	top: 37px;

	opacity: 0.7;
}

.btn-task-item {
	/* Rectangle 2 */

	position: absolute;
	width: 108px;
	height: 30px;
	left: 32px;
	top: 150px;
	text-align: center;

	background: #C4C4C4;
	border-radius: 100px;
}

#task-item-text {
	/* + Task Item */

	position: center;
	display: inline-block;
	margin-top: 6px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	letter-spacing: 0.05em;

	color: #000000;

	opacity: 0.6;
}

.btn-check {
 	/* Finish/Check Button */

	position: absolute;
	width: 48px;
	height: 48px;
	left: 337px;
	top: 613px;

	background: #C4C4C4;
	border-radius: 100px;

	/* Button Drop */
	box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.237602), 0px 0px 14px rgba(0, 0, 0, 0.12);
 }

#btn-check {
	/* Check Vector */

	position: center;
	left: 337px;
	top: 613px;

	display: block;
	margin: 0 auto;
	margin-top: 13px;
}

.container-options {
	 /* Rectangle */

	position: absolute;
	width: 414px;
	height: 145px;
	left: 0px;
	top: 682px;

	background: #AEAEAE;
 }

#btn-option-arrow {
	/* chevron up */

	position: absolute;
	width: 24px;
	height: 24.22px;
	left: 118px;
	top: 13px;

	transform: rotate(90deg);
	mix-blend-mode: normal;
	opacity: 0.54;
}

#session-option-txt {
	 /* Session Options */

	position: absolute;
	width: 140px;
	height: 22px;
	left: 155px;
	top: 15px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.02em;

	color: #000000;
 }